[Unit]
Description=pepc-boost-relay-api

[Service]
Environment=LISTEN_ADDR=0.0.0.0:9062
ExecStart=/home/ubuntu/pepc-boost-relay/mev-boost-relay api --network goerli --db postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable --beacon-uris http://172.31.32.137:5052

[Install]
WantedBy=multi-user.target 
